*{margin: 0; padding: 0; box-sizing: border-box;}
.container{height: 100vh;}
.megamenu{ position: absolute; left: 15px; right: 15px; height: 80vh; padding: 20px; }
ul{padding: 0;}
ul li{list-style: none;}
h3{color: #fff;}
a{color: #fff; text-decoration: none;}
a.hover{color: #000; display: block; margin-bottom: 40px;}
.megamenu.menudisplay{display: block;}
/* .menudisplay::after{content: ""; position: absolute; top: 0; left: 0; bottom: 0;right: 0; background: #000; z-index: -1; animation: backgroundAnim 2s;} */
.backmenu{ display: flex; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: -1;}
.backmenu span{ position: relative; z-index: -1; width: 20%; height: 100%;}
.backmenu span::after{position: absolute; content: ""; bottom: 0; top: 0;  left: 0; right: 0; background: #000; animation: backgroundAnim2 1s; animation-fill-mode: forwards;}
.menudisplay .backmenu span::after{animation: backgroundAnim 1s; animation-fill-mode: forwards; top: 100%; }
.backmenu span:nth-child(1)::after{animation-delay: 0.5s;} 
.backmenu span:nth-child(2)::after{animation-delay: 0.4s;} 
.backmenu span:nth-child(3)::after{animation-delay: 0.3s;} 
.backmenu span:nth-child(4)::after{animation-delay: 0.2s;} 
.backmenu span:nth-child(5)::after{animation-delay: 0.1s;}

.menudisplay .backmenu span:nth-child(1)::after{animation-delay: 0.1s;} 
.menudisplay .backmenu span:nth-child(2)::after{animation-delay: 0.2s;} 
 .menudisplay.backmenu span:nth-child(3)::after{animation-delay: 0.3s;} 
 .menudisplay .backmenu span:nth-child(4)::after{animation-delay: 0.4s;} 
 .menudisplay .backmenu span:nth-child(5)::after{animation-delay: 0.5s;}  
.color ul{display: flex; padding: 0;}
.color li{width: 100px; height: 100px; background: #000; margin-right: 10px;}
.color li:has(+ li:hover){background: red;}

@keyframes backgroundAnim{
0%{top: 100%;}
100%{top: 0;}
}
@keyframes backgroundAnim2{
    0%{top: 0;}
    100%{top:100%;}
    }