@keyframes run {
  0% {
    transform: translateX(0);
  }

 50% {
      transform: translateX(-10%);
    }
    
  100% {
    transform: translateX(0%);
  }
}

/* @keyframes runr {
    0% {
      right: 0;
    }
    50% {
      right: 10%;
    }
    100% {
      right: 0;    
    }
  } */
